/* PreiewURL styles */

.root {
    -fx-spacing: 10px;
    -fx-padding: 10;
    -fx-font-size: 16px;
    -fx-max-width: 500px;
    -fx-max-height: 400px;
}

.header {
    -fx-background-color: lightblue;
    -fx-background-radius: 0%;
    -fx-background-inset: 5px;
    -fx-font-size: 30px;
    -fx-padding: 10px;
    -fx-font-weight: bold;
}

.label {
    -fx-font-size: 16px;
}

.text-field {
    -fx-font-size: 16px;
    -fx-max-width: 500px;
}

.button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#2A5058, #61A2B1);
    -fx-text-fill: #FFFFFF;
    -fx-max-width: 250px;

}

.button:hover {
    -fx-background-color: linear-gradient(lightblue, #61A2B1);
    -fx-text-fill: #5a5a5a;;
}


